@tailwind base;
@tailwind components;
@tailwind utilities;


.img1 {
  background-image: url("https://images.unsplash.com/photo-1504464920281-04959fd089db?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font1 {
  font-family: "EB Garamond", serif;
  font-weight: 800;
  font-style: normal;
}

.ho {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
